@import '../../resources/colors';
@import '../../resources/dimensions';

:host {
  align-items: center;
  background: $card-bg-color;
  border-radius: $grid / 2;
  color: $card-fg-color;
  display: flex;
  border: 2px transparent solid;
  padding-right: $grid * 2;

  &.done {
    background: $done-card-bg-color;
    color: $done-card-fg-color;

    input[type='text'] {
      text-decoration: line-through;
    }
  }

  &.dragging {
    background: none;
    border: 2px $card-bg-color dashed;
    color: $card-bg-color;

    &.done {
      border-color: $done-card-bg-color;
      color: $done-card-bg-color;
    }

    drag-handle {
      display: none;
    }
  }

  &.drag-ghost {
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-200%) translateY(-200%);
    width: max-content;

    drag-handle {
      display: none;
    }
  }
}

input[type='text'] {
  background: none;
  border-radius: $grid / 2;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin-right: $grid * 2;
  padding: $grid * 3 / 2 $grid * 2;
  width: 100%;
  outline: none;
}
