@import '../../resources/colors';
@import '../../resources/dimensions';

:host {
  align-items: center;
  background: $card-bg-color;
  border-radius: $grid / 2;
  color: $card-fg-color;
  display: flex;
  padding-right: $grid * 2;

  &.done {
    background: $done-card-bg-color;
    color: $done-card-fg-color;

    input[type='text'] {
      text-decoration: line-through;
    }
  }
}

input[type='text'] {
  background: none;
  border-radius: $grid / 2;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  padding: $grid * 3 / 2 $grid * 2;
  width: 100%;
}
