/** Global styles go here. */
@import 'resources/colors';
@import 'resources/fonts';

html,
body {
  @include body-font;
  background: $bg-color url('assets/bg.jpg');
  background-size: cover;
  border: 0;
  color: $fg-color;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
