@import '../resources/fonts';
@import '../resources/dimensions';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1 {
  @include h1-font;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($grid * 20, 1fr));
  grid-gap: $grid * 3;
  padding: $grid * 3;
  box-sizing: border-box;
}
