@import '../resources/fonts';
@import '../resources/dimensions';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1 {
  @include h1-font;
}

card-area:first-of-type {
  background: pink;

}
