$_gray: #676068;
$_white: #F8F7F8;
$_purple: #BEB2C8;

$bg-color: $_gray;
$fg-color: $_white;
$done-bg-color: $_purple;

$selection-bg-color: $_gray;
$selection-fg-color: $_white;

$card-bg-color: $_white;
$card-fg-color: $_gray;
$done-card-bg-color: rgba($_gray, .5);
$done-card-fg-color: $_gray;

$drag-handle-color: $_purple;
$done-drag-handle-color: $_gray;
